extends ../../home/views/navbar.pug

block content
    <div class="content-wrapper">
        <div class="container-fluid">
        <!-- Example DataTables Card-->
        <div class="card mb-3">
            <div class="card-header">
            <i class="fa fa-list-ul"></i> Schedules
            </div>
            <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                        <th>Subject Code</th>
                        <th>Subject Name</th>
                        <th>Time</th>
                        <th>Days</th>
                        <th>Created by</th>
                        <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                        <th>Subject Code</th>
                        <th>Subject Name</th>
                        <th>Time</th>
                        <th>Days</th>
                        <th>Created by</th>
                        <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    each sched in tbl_sched
                        <tr>
                        <td>
                            value=sched.char_courseCode
                        </td>
                        <td>
                            value=sched.varchar_courseName
                        </td>
                        <td>
                            value=sched.varchar_schedTime
                        </td>
                        <td>
                            value=sched.varchar_schedDay
                        </td>
                         <td>
                            value=sched.varchar_collegeName
                        </td>
                        <td>
                           a(href=`/student/schedule/${sched.int_schedID}/saved` name="butsaved" ): span.fa.fa-check Save
                        </td>
                        </tr>
                </tbody>
                </table>
            </div>
            </div>


        </div>
            <div class="row">
                <div class="col-12">
                        <div class="card mb-6">
                        <div class="card-header">
                            <i class="fa fa-bullhorn"></i><b> Saved Schedules</b>
                            </div>
                        <div class="card-body">
                                    <div class="card mb-6">
                                        <div class="card-header">
                                        <table class="table">
                                                <thead>
                                                    <tr class="filters">
                                                        <th>Subject Code</th>
                                                        <th>Time</th>
                                                        <th>Days</th>
                                                        <th>Room</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                each saved in tbl_savedsched
                                                    <tr>
                                                        <td>
                                                            value=saved.char_courseCode
                                                        </td>
                                                        <td>
                                                            value=saved.varchar_schedTime
                                                        </td>
                                                        <td>
                                                            value=saved.varchar_schedDay
                                                        </td>
                                                        <td>
                                                            value=saved.varchar_schedRoom
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                </table>
                                        </div>
                                    </div>
                        </div>
                </div>
        </div>
        
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
            <small>Copyright © Irregular Please 2018</small>
            </div>
        </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
        </a>
        <!-- Bootstrap core JavaScript-->
        <script src="/adminui/vendor/jquery/jquery.min.js"></script>
        <script src="/adminui/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="/adminui/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="/adminui/vendor/chart.js/Chart.min.js"></script>
        <script src="/adminui/vendor/datatables/jquery.dataTables.js"></script>
        <script src="/adminui/vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="/adminui/js/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="/adminui/js/sb-admin-datatables.min.js"></script>
        <script src="/adminui/js/sb-admin-charts.min.js"></script>
    </div>
    </body>



    