extends ../../home/views/index.pug

block content
   
    <div class="content-wrapper">
        <div class="container-fluid">
            each result in result_diag
                h4 Update:
                    value=" Item no. "+result.int_itemStockID

                <form method="POST" action="edit/editpetit">
                    input(type="hidden" value=`${result.int_itemStockID}` name="int_itemStockID")
                    <div class="row">
                        <div class="form-group col-4">
                            <label for="diagname">Name</label>
                            input(type="text" class="form-control" id="diagname" placeholder="Diagnostics Name" name="diagname" value=`${result.varchar_itemName}` required)
                        </div>
                        <div class="form-group col-4">
                            <label for="diaggen">Generic Name</label>
                            input(type="text" class="form-control" id="diaggen" placeholder="Diagnostic Generic Name" name="diaggen" value=`${result.varchar_diagnosticGenName}` required)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-12">
                            <label for="diagdescription">Description</label>
                            input(type="text" class="form-control" id="diagdescription" placeholder="Diagnostic Description" name="diagdescription" value=`${result.varchar_itemDescription}` required)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-4">
                            <label for="diagform">Form</label>
                            input(type="text" class="form-control" id="diagform" placeholder="Diagnostic Packing" name="diagform" value=`${result.varchar_diagnosticPacking}` required)
                        </div>
                        <div class="form-group col-4">
                            <label for="diagexpiry">Expiry</label>
                            input(type="date" class="form-control" id="diagexpiry" placeholder="Diagnostic Expiry" name="diagexpiry" value=`${result.date_diagnosticExpiry}` required)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-4">
                            <label for="diagprice">Price</label>
                            input(type="number" class="form-control" id="diagprice" placeholder="Diagnostic Price" name="diagprice" value=`${result.decimal_itemPrice}`  + ".00" required)
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default float-right" id="buttoneditprofile">Submit</button>
                    </div>
                    </form>
        </div>
        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
            <small>Copyright © Irregular Please 2018</small>
            </div>
        </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
        </a>
        <!-- Bootstrap core JavaScript-->
        <script src="/adminui/vendor/jquery/jquery.min.js"></script>
        <script src="/adminui/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="/adminui/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="/adminui/vendor/chart.js/Chart.min.js"></script>
        <script src="/adminui/vendor/datatables/jquery.dataTables.js"></script>
        <script src="/adminui/vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="/adminui/js/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="/adminui/js/sb-admin-datatables.min.js"></script>
        <script src="/adminui/js/sb-admin-charts.min.js"></script>
    </div>
    </body>


       

        